1UPLOAD_FOLDER = "./files"
IMAGE_FOLDER = "./html/img"
CONNECT_FILE = "./connect.txt"
HISTORY_FILE = "./history.txt"
KEY_FILE = "./key.txt"
BAN_FILE = "./ban.txt"
LOG_FILE = "./chat-room.log"
DB_FILE = "./chat.db"


CLOUDFLARE_API_TOKEN = "CLOUDFLARE_API_TOKEN"
ZONE_ID = "ZONE_ID"
RECORD_ID = "RECORD_ID"
DOMAIN = "DOMAIN"

SYSTEM_PREFIX = "[SYSTEM]"
SYSTEM_ALERT_PREFIX = "[SYSTEM:ALERT]"